<nav class="navbar navbar-expand-lg navbar-light bg-primary" style="color: white">
    <div>
        <div class="ml-2 mr-4" style="font-family: Gugi; font-size: 30px">Study Log</div>
        <div class="ml-2 mr-4 text-center" style="font-family: Gugi; font-size: 12px">Firebase Edition</div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>