<table class="table">
  <thead class="thead-light">
    <th>Programming Language</th>
    <th>Total Hours Studied</th>
  </thead>
  <tr>
    <td>Javascript</td>
    <td></td>
  </tr>
  <tr>
    <td>Python</td>
    <td></td>
  </tr>
  <tr>
    <td>Swift</td>
    <td></td>
  </tr>  
  <tr>
    <td>VBA</td>
    <td></td>
  </tr>
  <tr>
    <td>C</td>
    <td></td>
  </tr>
  <tr>
    <td>Python</td>
    <td></td>
  </tr>
  <tr>
    <th>Total Programming Hours</th>
    <th>{{hoursSum}}</th>
  </tr>
</table>