<!-- Generate Cards for Each Record -->
<div class="text-center">
    <span>Your account has been deleted.</span>
    <br/>
    <br/>
    <a href="/login/prompt">
        <button class="btn btn-primary">Return to Login Screen</button>
    </a>
</div>