<!-- Generate Cards for Each Record -->
<div class="text-center">
    <span>Your account could not be created. Please ensure that you provide a valid email, password, first name, last name, city, and country.</span>
    <br/>
    <br/>
    <a href="/account/create/prompt">
        <button class="btn btn-primary">Try Again</button>
    </a>
</div>