<!-- Generate Cards for Each Record -->
<div class="text-center">
    <span>Your account was successfully created! You may now login with your entered credentials.</span>
    <br/>
    <br/>
    <a href="/login/prompt">
        <button class="btn btn-primary">Login</button>
    </a>
</div>