<script type="text/javascript">
  function redirect() {
    window.location = "/usercontent/entries/show";
  }
  setTimeout("redirect()", 1000);
</script>

<div class= "container text-center" style="margin-top: 150px">
  <h3>Logging in...</h3>
  <br>
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"  role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
