<div class="text-center">
    <div class="alert alert-danger" role="alert">
        Your username or password was entered incorrectly.
    </div>
    <a href="/login/prompt">
        <button class="btn btn-primary">Return</button>
    </a>
</div>