<!-- Generate Cards for Each Record -->
<div class="text-center">
    <span>Your profile has been updated succesfully.</span>
    <br/>
    <br/>
    <a href="/usercontent/entries/show">
        <button class="btn btn-primary">Return Home</button>
    </a>
</div>